<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam Form Fill Up Page</title>
</head>
<body>
    <h1>পাবনা বিজ্ঞান ও প্রযুক্তি বিশ্ববিদ্যালয়, পাবনা।</h1>
    <h2>পরীক্ষায় অংশগ্রহণের আবেদন পত্র</h2>
    <h3>পরীক্ষার নাম: নিয়মিত/অনিয়মিত/মানোন্নয়ন/স্পেশাল</h3>

    <form action="" method="post" novalidate>
        {%csrf_token%}
        {{ form.as_p }}
        <input type="submit" value="submit">
    </form>
</body>
</html>